.header {
  width: 100%;
  min-height: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  background-color: white;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.organization {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.organization img.logo {
  max-width: 35px;
  max-height: 35px;
  margin: 5px;
}

.organization .org-name {
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  margin-left: 5px;
  letter-spacing: 1px;
}
