.header {
}

.header .owner {
    float: left;
    width: 30%;
}
.header .owner .logo {
    height: 40px;
    max-width: 100%;
    vertical-align: middle;
}

.header .owner h2 {
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
}

.header .settings {
    float: right;
    margin-right: 40px;
}
.header .settings>div {
    display: inline-block;
    margin-left: 20px;
}
.header .settings .currency-select, .header .settings .token-select {
    width: 200px;
}

.header .settings .net-type-toggle {
    width: 130px;
    vertical-align: middle;
    text-align: center;
}

.header .settings label {
    margin-right: 5px;
}

.ant-layout-header {
    background: #fff !important;
}