.settings {
  min-height: 20px;
  margin-bottom: 20px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.filter-container,
.search-container {
  flex: 1 100%;
}

.currency-select-container,
.livenet-toggle-container,
.token-select-container {
  margin-left: 20px;
  margin-right: 20px;
}

.search-container {
  width: 100%;
  max-width: 800px;
}

.ant-btn-primary {
  background-color: #e34132 !important;
  border-color: #e34132 !important;
}

.ant-btn-primary:hover, .ant-btn-primary:focus,
.ant-btn:hover, .ant-btn:focus,
.ant-input-affix-wrapper:hover .ant-input:not(.ant-input-disabled) {
  border-color: rgba(0,0,0,0.3) !important;
}

.ant-input:focus {
  border-color: rgba(0,0,0,0.3) !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;

  /* -webkit-box-shadow: 0 0 0 2px rgba(50, 0, 0, 0.2) !important; */
  /* box-shadow: 0 0 0 2px rgba(50, 0, 0, 0.2) !important; */
}

::-moz-selection {
  background: #e34132 !important;
}

@media all and (min-width: 800px) {
  .search-container {
    flex: 2 0px;
  }
}
