//------- NRLExplorer Fonts ----------
$nrl-sans-serif: 'Source Sans Pro', sans-serif;
$nrl-monospace: 'Space Mono', monospace;

//------- NRLExplorer Colors ----------

$nrl-black: #222722;
$nrl-yellow: #ffe965;
$nrl-red: #e34132;

$nrl-white: #ffffff;
$nrl-light-white: #f4f4f4;
$nrl-grey: #d6d2d2;
$nrl-light-grey: #eaebea;
$nrl-green: #3cb878;
$nrl-light-green: #fdfffc;

//------- MouseBelt Colors ------------
$mb-red: #ec4d3e;
$mb-orange: #EE5E5F;
$mb-lightorange: #EF9A4C;
$mb-gold: #FFBB4C;
$mb-green: #76b143;

$mb-darkblue: #424C62;
$mb-lightblue: #616B81;
$mb-slateblue: #384156;

//------- NRLExplorer Colors ----------

$black: $nrl-black;
$yellow: $nrl-yellow;
$red: $nrl-red;

$white: $nrl-white;
$light-white: $nrl-light-white;

$grey: $nrl-grey;
$light-grey: $nrl-light-grey;

$green: $nrl-green;
$light-green: $nrl-light-green;



$txt-main-color: $black;
$txt-light-color: $grey;
$txt-success-color: $green;
$txt-failed-color: $red;

$btn-default-color: $grey;
$btn-primary-color: $mb-lightorange;
$btn-text-color: $black;

$bg-main-color: $white;
$bg-light-color: $light-white;
$bg-grey-color: $grey;

$border-grey-color: $grey;
$border-focus-color: $grey;
$border-hover-color: $grey;
$border-main-color: $light-grey;
$border-light-color: $light-white;
